input{
    background-color: black;
    // width: 200px;
    font-size: 35px;
    color: aliceblue;
    padding: 10px;
    margin: 10px 70px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 10px 10px 10px gray;
}